npm-debug.log

.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
.idea
.node_modules
_ignore

*.sw[a-z]
.netrwhist
Session.vim

Desktop.ini
ehthumbs.db
Thumbs.db

node_modules/
.env
